<div class="mb-1">
  <div class="flex-between">
    <div><strong><%= education["school"] %></strong></div>
    <div><%= education["date"] %></div>
  </div>
    <div><%= education["degrees"].join(" + ") %></div>
</div>
