<div>
  <div class="flex-between mb-2">
    <div><strong><%= experience["company"] %></strong>, <%= experience["position"] %></div>
    <div><%= experience["date"] %></div>
  </div>
  <% if experience["tasks"] %>
      <ul>
        <% experience["tasks"].each do %>
          <li><%= _1 %></li>
        <% end %>
      </ul>
  <% end %>
</div>
