/* Style your resume here (from scratch or using the code below) */

:root {
  --space-0: 0rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --page-margin-x: 4rem;
  --background-color: hsl(42, 100%, 95%);
}

body {
  margin: 0;
  font-family: "Times", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
}

.mb-0 { margin-bottom: var(--space-0); }
.mb-1 { margin-bottom: var(--space-1); }
.mb-2 { margin-bottom: var(--space-2); }
.mb-3 { margin-bottom: var(--space-3); }
.mb-4 { margin-bottom: var(--space-4); }
.mb-5 { margin-bottom: var(--space-5); }
.mb-6 { margin-bottom: var(--space-6); }

#page {
  background-color: var(--background-color);
  width: 210mm;
  height: 297mm;
}

header {
  padding-top: var(--page-margin-x);
  padding-bottom: var(--space-6);
  padding-left: var(--page-margin-x);
  padding-right: var(--space-margin-x);
}

.wrap {
  padding-left: var(--page-margin-x);
  padding-right: var(--page-margin-x);
}

h1 {
  font-size: 2.3rem;
  margin-bottom: var(--space-2);
}

h2 {
  font-size: 1.4rem;
  margin-bottom: var(--space-2);
}

h3 {
  font-size: 1.3rem;
  margin: 0;
}

section {
  margin-bottom: var(--space-3);
}

.title {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: var(--space-3);
  border-bottom: 1px solid rgb(100, 100, 100);
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  padding-inline-start: 20px;
  margin-block-start: 0px;
}

.links {
  display: flex;
  gap: 12px;
  margin-left: -4px;
}

.link {
  display: flex;
  align-items: center;
  gap: 0px;
  color: black;
  text-decoration: none;

  & svg {
    height: 14px;
    padding-bottom: 1px;
  }
}
